@keyframes imagem {
	from {



          background: url('img/capa-mulher.png');
          top: 200px;
          right: 200px;
		

		

	}
	To {

         background: none;
         top: 200px;
          right: 200px;
	}
}

.imagem {


	width: 426px;
	height: 518px;
	position: relative;
	animation-name: imagem;
	animation-delay: 3s;
	animation-iteration-count: infinite;
	animation-direction: ;
} */

@keyframes animacao-caixa{
 	from{
  
   background-image: ;
   right: 1000px;
   left: 1000px;


 	}
 	to {

    background-image:  url('img/capa-mulher.png');
    left: 0px;
    right: 0px;


 	}
 }

.imagem {

	width: 426px;
	height: 518px;
	position: relative;
	animation: animacao-caixa 4s backwards;
	

}

@keyframes conteudo {

	from{

   
   right: 1000px;
 
   

}

to {

	right: 0px;
	

}
}


.conteudo {
	
	position: relative;
	animation: conteudo 4s backwards;

}
